
.vtour-frame {
	display: inline-block;
	border: 1px solid;
}

.vtour-descriptionmapcolumn {
	display: block;
	float: left;
	width: 30%;
	height: 100%;
}

.vtour-description {
	height: 40%;
}

.vtour-main {
	position: relative;
	overflow: auto;
	float: right;   
	width: 70%;
	height: 100%;
}

.vtour-map {
	position: relative;
	overflow: hidden;
	height: 60%;
}

.vtour-pointlink {
	cursor: pointer;
}

.vtour-infonode {
	width: 100%;
	height: 100%;
}

.vtour-centered {
	display: block;
	position: absolute;
}

.vtour-externalmap {
	width: 100%;
	height: 100%;
}

.vtour-textnode {
	background-color: #ffffff;
}

.vtour-imagenode {
	background-color: #000000;
}

.vtour-panonode .vtour-movable {
	overflow: hidden;
}

.vtour-textnode {
	overflow: auto;
}

.vtour-nodelayer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.vtour-buttonlayer {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
}

.vtour-viewcontainer {
	position: relative;
	height: 100%;
	width: 100%;
}

.vtour-background {
	display: block;
	z-index: 1;
}

.vtour-movable {
	overflow: auto;
	cursor: move;
}

.vtour-polygon {
	position: absolute;
}

.vtour-arealink {
	color: #0000ff;
}

.vtour-canvasanglemarker {
	color: #0000ff;
}

.vtour-arealink-hover {
	cursor: pointer;
}

.vtour-placeicon {
	display: block;
	height: 25px;
	width: 25px;
	/* @embed */
	background: url(img/iconoElemento.gif) 0 0 no-repeat;
}

.vtour-currentplacemarker {
	display: block;
	height: 25px;
	width: 25px;
	/* @embed */
	background: url(img/iconoElementoActual.gif) 0 0 no-repeat;
}

.vtour-anglemarker-movable {
	cursor: move;
}

.vtour-anglemarker-fixed {
	cursor: default;
}

.vtour-angleicon {
	display: block;
	cursor: default;
	height: 25px;
	width: 25px;
	/* @embed */
	background: url(img/ojo.gif) 0 0 no-repeat;
}

.vtour-button {
	cursor: pointer;
}

.vtour-buttonminus {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/minus.png) 0 0 no-repeat;
}

.vtour-buttonplus {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/plus.png) 0 0 no-repeat;
}

.vtour-buttonup {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/up.png) 0 0 no-repeat;
}

.vtour-buttondown {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/down.png) 0 0 no-repeat;
}

.vtour-buttonfit {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/fit.png) 0 0 no-repeat;
}

.vtour-buttonrealsize {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/realsize.png) 0 0 no-repeat;
}

.vtour-buttonreset {
	display: inline-block;
	margin: 2px;
	height: 20px;
	width: 20px;
	/* @embed */
	background: url(img/reset.png) 0 0 no-repeat;
}

.vtour-popup {
	position: absolute;
	z-index: 100;
	background-color: white;
	border-style: solid;
	border-width: thin;
	border-color: blue;
}

.vtour-incompletepopup {
	border-bottom-style: dotted;
	border-bottom-width: thin;
	border-bottom-color: black;
}

.vtour-fading {
	position: absolute;
	z-index: 50;
}

.vtour-popupinfo > div {
	overflow: hidden;
}

.vtour-error {
	text-align: center;
	font-weight: bold;
}

.vtour-errorimage {
	display: block;
	height: 50px;
	width: 50px;
	margin: auto;
	/* @embed */
	background: url(img/error.png) 0 0 no-repeat;
}
